.gallery {
  padding: 9.8125rem 6rem 15.3125rem 6rem;
  background-color: var(--color-terceary);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}
.img1 {
  display: grid;
  grid-template-rows: 11.38rem 16.19rem 15.94rem;
  gap: 1rem; 
}

.img2 {
  display: grid;
  grid-template-rows: 21.57rem 15.69rem;
  gap: 2rem;
}

.img3 {
  display: grid;
  grid-template-rows: 17rem 10.87rem 15.57rem;
  gap: 2rem;
}

.img4 {
  display: grid;
  grid-template-rows: 11.57rem 27.19rem;
  gap: 2rem;
}

