.footer__social {
  justify-self: end;
  
}

.footer__social a, .footer__social a:visited, .footer__social:active {
  color: var(--color-secundary);
  margin-left: 0.2rem;
}

.footer__social a .fa-twitter, .footer__social a:visited .fa-twitter, .footer__social:active .fa-twitter {
  color: var(--color-terceary);
}