.institutional {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3.125rem;
  align-items: center;
  padding: 4.375rem;
}

.institutional__copy {
  padding: 0 1.875rem;
}

.institutional__copy h6{
  font-size: 0.875;
  font-weight: 500;
  letter-spacing: .1rem;
  text-transform: uppercase;
  margin: 0;
}

.institutional__copy h4 {
  font-size: 1.5625rem;
  font-weight: 700;
  margin-top: 1rem;
}

.institutional__copy p {
  font-size: 1.0625rem;
  line-height: 1.6875rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
  margin-bottom: 2.5rem;
}

.institutional__image {
  max-width: 550px;
}